.beer-types-page {
  margin: 6vh 12rem 7vh 12rem;
}

.beer-types-page h1,
#subcat {
  margin-top: 8vh;
}

.beer-types-page p {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

.beer-types-page h1 {
  margin-left: 0vw;
  padding-bottom: 0;
  line-height: 3rem;
  font-size: 3.5rem;
}

.beer-types-page #intro-subcat {
  margin: 5vh 5vw 5vh 0;
}

.beer-types-page #intro-subcat,
#subcat {
  margin-left: 3vw;
}

.beer-types-page .beers-grid-cat {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 4rem;
  align-items: center;
}

.beer-types-page .beers-grid-cat section {
  background-color: var(--color-5);
  padding: 3rem 1rem;
  border-radius: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beer-types-page .beers-grid-cat section h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: black;
}

.beer-types-page .beers-grid-cat section img {
  max-height: 11rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.beer-types-page article a:link {
  text-decoration: none;
  color: black;
}
.beer-types-page article a:visited {
  text-decoration: none;
  color: black;
}

.beer-types-page article section:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  box-shadow: 3px 37px 37px -9px rgba(26, 29, 42, 0.36);
  cursor: pointer;
}

.beer-types-page #button-category {
  display: flex;
  flex-direction: column;
}
.beer-types-page #button-category h3 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}
.beer-types-page #button-category button {
  background-color: var(--link-color);
  box-shadow: 3px 37px 37px -9px rgba(26, 29, 42, 0.36);
}

.beer-types-page #button-category a {
  align-self: center;
}

@media screen and (max-width: 950px) {
  main.beer-types-page h1 {
    font-size: 300%;
  }
}
@media screen and (max-width: 750px) {
  main.beer-types-page {
    margin: 10vh 5rem 10vh 5rem;
  }
}
@media screen and (max-width: 550px) {
  main.beer-types-page h1 {
    font-size: 270%;
    padding-bottom: 0.3rem;
    margin-top: 0;
  }
  .beer-types-page p {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
  }
  main.beer-types-page {
    margin: 7vh 3rem 7vh 3rem;
  }
  .beer-types-page #button-category button {
    padding: 1.5rem 3.5rem;
  }
}
@media screen and (max-width: 400px) {
  main.beer-types-page h1 {
    font-size: 300%;
    margin-top: 0;
  }
  .beer-types-page p {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  main.beer-types-page {
    margin: 5vh 1rem 5vh 1rem;
  }
}
@media screen and (max-width: 300px) {
  main.beer-types-page h1 {
    font-size: 230%;
  }
  .beer-types-page p {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
  }
  main.beer-types-page#intro {
    margin-bottom: 2vh;
  }
  main.beer-types-pages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 5rem;
  }
  article.beers-grid-cat {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 5rem;
  }
}
