.home-main {
  margin-left: 12rem;
  margin-right: 12rem;
}
main {
  margin: 0;
}
nav {
  margin-bottom: 0;
}
nav ul li {
  align-self: center;
  padding-left: 3rem;
}
#home-curiosities {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}
#home-curiosities h2 {
  grid-column: 1 / -1;
}
#quiz-front h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  padding-bottom: 1.7rem;
  padding-top: 3rem;
}
#quiz-front {
  background-image: url(../img/bg.jpg);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4rem;
  background-position: right;
  padding: 12rem;
  padding-bottom: 4rem;
  padding-top: 7rem;
}
#quiz-front h1,
#quiz-front p,
#cta {
  color: var(--secondary-text-color);
}
#cta {
  display: block;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
#quiz-front p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding-top: 0.5rem;
}
#intro p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  padding-bottom: 1.5rem;
}

#home-curiosities article {
  background-color: var(--link-color);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
  padding: 2.5rem;
  justify-content: center;
}
#home-curiosities article img {
  width: 35%;
  display: block;
  margin: 0 auto;
}
#home-curiosities article p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-top: 1.3rem;
}
#home-curiosities {
  margin-bottom: 3rem;
  display: grid;
}
#intro p {
  font-size: 1.2rem;
}
#intro {
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 1093px) {
  .home-main {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  #quiz-front {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 4rem;
    padding-top: 7rem;
  }
  #home-curiosities {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 818px) {
  .home-main {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  #quiz-front {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-top: 4rem;
  }
  #home-curiosities {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    row-gap: 2rem;
  }
  #home-curiosities article img {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .home-main {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  #quiz-front {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-top: 4rem;
  }
  #home-curiosities {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
  }
  #quiz-front h1 {
    font-size: 2.9rem;
    line-height: 3.4rem;
    padding-bottom: 1rem;
    padding-top: 0;
  }
  #quiz-front p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding-top: 0.3rem;
  }
  #intro p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 472px) {
  .home-main {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #quiz-front {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
  }

  #cta {
    display: block;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  #allbeers-cta {
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  #home-curiosities article {
    background-color: var(--link-color);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
    padding: 2.5rem;
    justify-content: center;
  }
  #home-curiosities article img {
    width: 35%;
    display: block;
    margin: 0 auto;
  }
  #home-curiosities article p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-top: 1.3rem;
  }
  #home-curiosities {
    margin-bottom: 3rem;
    display: grid;
  }
  #intro p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding-bottom: 1.5rem;
  }
  #intro {
    margin-bottom: 2rem;
  }
  #home-curiosities h2 {
    font-size: 2.5rem;
    padding-bottom: 0;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.home-main {
  animation: transitionIn 4s;
}

main h1 {
  animation: transitionIn 0.8s;
}

main p {
  animation: transitionIn 1.5s;
}

#quiz-front #cta {
  animation: transitionIn 2.5s;
}
