@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(249, 168, 66);
  --link-color: rgba(255, 111, 111);
  --link-hover-color: rgba(26, 29, 42);
  --color-4: rgba(255, 235, 209);
  --color-5: rgba(255, 101, 80, 0.4);

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --main-text-color: rgba(26, 29, 42);

  --white-space: 1rem;
}

h1,
h2 {
  font-family: var(--primary-font);
  color: var(--link-hover-color);
}
button:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}
button {
  padding: 1.5rem;

  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 var(--primary-font);
  letter-spacing: 1px;
  color: white;
  box-shadow: 3px 37px 37px -9px rgba(255, 111, 111, 0.36);
  border-radius: 49px;
  border: none;
  background-color: var(--link-color);

  cursor: pointer;
  margin: 1rem 2rem 2rem 0;
}

.secondary-button {
  background: var(--link-hover-color);
  box-shadow: 3px 37px 37px -9px rgba(26, 29, 42, 0.36);
}
